{% extends 'layout/auth_layout.html.twig' %}

{% block title %}Create new user{% endblock %}

{% block form %}
    <div class="card px-5 py-5" id="form1" style="background-color: #212529">
        {% for message in app.flashes('notice') %}
            <div class="flash-notice">
                {{ message }}
            </div>
        {% endfor %}
        {{ form(form) }}
    </div>
{% endblock %}
