{% extends 'layout/basic_layout.html.twig' %}
{% block title %}В разработке{% endblock %}
{% block content %}
    <div class="container mx-auto p-3">
        <h1>Раздел находится в разработке</h1>
    </div>
{% endblock %}
