{% extends 'layout/basic_layout.html.twig' %}
{% block title %}404{% endblock %}
{% block content %}
    <div class="container mx-auto p-3">
        <h1>Несуществующий раздел</h1>
    </div>
{% endblock %}
