{% extends 'layout/basic_layout.html.twig' %}
{% block title %}Главная{% endblock %}

{% block content %}
    <div class="row">
        {% block left_column %}
            <nav id="category-column" class="d-flex flex-column w-25 navbar bg-dark navbar-dark">
                <ul class="navbar-nav w-100">
                    {% for category in categories %}
                        <li class="nav-item p-1">
                            <a href="{{ path('catalog_by_category', {'category': category.id}) }}"
                               class="btn btn-primary w-100">{{ category.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        {% endblock %}
        {% block middle %}
            <div class="w-75">
                <div class="row">
                                <div class="count">
                                    {{ pagination.getTotalItemCount }}
                                </div>
                    <form action="{{ path('catalog') }}" method="POST">
                        <label>Поиск</label>
                        <input type="text" id="search-product-title" name="search_title" class="w-25">
                    </form>

                    <table>
                        <tr>
                            <th{% if pagination.isSorted('a.title') %} class="sorted"{% endif %}>
                                {{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}
                            </th>
                        </tr>

                        {% for product in pagination %}
                            <div class="col-md">
                                <div class="card" style="background-color: inherit;">
                                    {% if product.image %}
                                        <img src="{{ product.pathImage | imagine_filter('thumb_compress') }}"
                                             class="card-img-top">
                                    {% endif %}
                                    <div class="card-body">
                                        <h5 class="card-title">{{ product.title }}</h5>
                                        <p class="card-category">
                                            {% if product.category != null %}
                                                <u>{{ product.category.name }}</u>
                                            {% endif %}</p>
                                        <p class="card-text">{{ product.description|length > 50 ? product.description|slice(0, 50) ~ '...' : product.description }}</p>
                                        <a href="{{ path('product_show', {'id': product.id}) }}"
                                           class="btn btn-primary">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </table>

                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}
