{% extends 'layout/basic_layout.html.twig' %}

{% block title %}Главная{% endblock %}

{% block content %}

{#    {{ form(form) }}#}
{#        <button type="submit" class="btn btn-dark">Сохранить</button>#}

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-dark">{{ button_label|default('Save') }}</button>
    {{ form_end(form) }}
{% endblock %}