<form method="post" action="{{ path('add_to_cart', {'product': product.id}) }}" onsubmit="return confirm('Добавить в корзину?');">
{#<form method="post" action="{{ path('add_to_cart', {'product': product.id}) }}" onsubmit="prompt('Добавить в корзину?', '1'); return;">#}
{#    , 'quantity': quantity#}
    <input name="quantity" value="1">
    <button class="btn">Add</button>

    {% for message in app.flashes('error_quantity') %}
        {{ message }}
    {% endfor %}
</form>