<form method="post" action="{{ path('remove_from_cart', {'product': item.product.id}) }}" onsubmit="return confirm('Убрать из корзины?');">
{#    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">#}
    <button class="btn">Delete</button>
</form>