{% extends 'layout/basic_layout.html.twig' %}

{% block title %}Каталог{% endblock %}

{% block middle %}
    <h1>Product index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Count</th>
                <th>Cost</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.title }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.count }}</td>
                <td>{{ product.cost }}</td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">Подробнее</a>
                    {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('product_edit', {'id': product.id}) }}">Редактировать</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('product_new') }}">Create new</a>
{% endblock %}
