{% extends 'layout/basic_layout.html.twig' %}

{% block title %}{{ product.title }}{% endblock %}

{% block middle %}
    <h1>{{ product.title }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Count</th>
                <td>{{ product.count }}</td>
            </tr>
            <tr>
                <th>Cost</th>
                <td>{{ product.cost }}</td>
            </tr>
        </tbody>
    </table>

    {% if product.image %}
        <img src="{{ product.pathImage | imagine_filter('show_product') }}">

        <a href="{{ path('delete_image_prod', {'id': product.id}) }}">Удалить изображение</a>
    {% endif %}

    <a  class="nav-link" href="{{ path('catalog') }}">К товарам</a>

    <a href="{{ path('edit_prod', {'id': product.id}) }}">edit</a>

    {% if app.user != null %}
        {{ include('product/_add_to_cart.html.twig') }}
    {% endif %}
{% endblock %}
