{% extends 'layout/basic_layout.html.twig' %}

{% block title %}Составление заказа{% endblock %}

{% block content %}
    {{ form_start(form) }}

    {% for orderForm in form.orderItems %}

        {% set product = orderForm.vars.value.product %}
        <div>
            <span>
                {{ product.title }}
            </span>
            <span>
                {{ product.cost }}
            </span>
        </div>
        {% if product %}
        {{ form_row(orderForm) }}
        {% endif %}

        {% dump product %}

    {% endfor %}

    <button class="btn btn-dark">{{ button_label|default('Order') }}</button>

    {{ form_end(form) }}
{% endblock %}