{% extends 'layout/basic_layout.html.twig' %}

{% block title %}Мои заказы{% endblock %}

{% block middle %}

    {% dump items %}
    <table class="table">
        <thead>
        <tr>
            <th>№</th>
            <th>Title</th>
            <th>Date</th>
            <th>status</th>
{#            <th></th>#}
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            {% dump item %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.titleProducts }}</td>
                <td>{{ item.date|date("d.m.Y h:i", "Europe/Moscow") }}</td>
                <td>{{ item.titleStatus(item.status) }}</td>
{#                <td>#}
{#                    {{ include('product/_remove_from_cart.html.twig') }}#}
{#                </td>#}
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
