{% extends 'layout/auth_layout.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block form %}
    <div class="card px-5 py-5" id="form1">
        <form action="{{ path('login') }}" method="post">
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <label class="text-dark">Email or username</label>
            <div class="forms-inputs mb-4 center-block">
                <input type="text" id="username" name="_username" value="{{ last_username }}" class="w-100">
            </div>

            <label class="text-dark">Password</label>
            <div class="forms-inputs mb-4 center-block">
                <input type="password" id="password" name="_password" class="w-100">
            </div>
            <div class="mb-3">
                <button type="submit" class="btn btn-dark w-100">Login</button>
            </div>
        </form>

        <div class="mb-3">
            <button type="button" class="btn btn-dark w-100"><a href="{{ path('registration') }}">Registration</a>
            </button>
        </div>
    </div>
{% endblock %}
