{% extends 'layout/basic_layout.html.twig' %}

{% block title %}Корзина{% endblock %}

{% block middle %}
    <h1>My cart</h1>

    <a href="{{ path('build_order') }}">Составить заказ</a>

    <table class="table">
        <thead>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.product.title }}</td>
                <td>{{ item.quantity }}</td>
                <td>
                    {{ include('product/_remove_from_cart.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
