{% extends 'layout/basic_layout.html.twig' %}

{% block title %}Hello LoginController!{% endblock %}

{% block middle %}
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <div class="col-md-6">
                {% block form %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
