<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Myshop{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</head>
<body class="bg-secondary text-white">
{% block menu %}
    <div class="container">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark container-fluid sticky-top rounded-bottom">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('main') }}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('catalog') }}">Каталог</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('edit_collection_prod') }}">Формы</a>
                </li>
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('cart') }}">Корзина</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('index_orders') }}">Заказы</a>
                    </li>
                {% endif %}
                {% if is_granted('ROLE_MANAGER') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('admin') }}">Управление</a>
                </li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('registration') }}">Добавить user'а</a>
                </li>
                {% endif %}
                <li class="nav-item float-right">
                    {% if app.user() != null %}
                        <a class="nav-link" href="{{ path('logout') }}">Выход</a>
                    {% else %}
                        <a class="nav-link" href="{{ path('login') }}">Вход</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}

<div class="container mx-auto p-3">
{#    <div class="row">#}
        {% block content %}

        {% block left_column %}
        {% endblock %}

        {% block middle %}
        {% endblock %}
        {% endblock %}
{#    </div>#}
</div>
</body>
<footer>
    {% block footer %}

    {% endblock %}
</footer>
</html>
