{% extends 'layout/basic_layout.html.twig' %}
{% block title %}Главная{% endblock %}
{% block middle %}
   Вы находитесь на {{ host }}!
   Хост через переменую окружения: {{ app.request.host }}!
{% endblock %}